<div class="col-md-3">
  <div class="widget">
    <div class="our-clients-sec">
      <div class="widget-title">
        <h3>Prospects</h3>
        <span><%= current_user.quicklist.members.count %> contacts added to list</span>
      </div>
    </div><!-- Our Clients Sec -->
  </div><!-- Widget -->

</div>