
	<div class="commingsoon">
		<div class="container">
			<div class="logo">
		        <a href="https://your-server.net" title=""><i class="fa fa-rocket"></i> ContactRocket</a>
		    </div>
			<div class="countdown-sec">
				<ul class="countdown">
					<li><span class="days">00</span><p class="days_ref">days</p></li>
					<li> <span class="hours">00</span><p class="hours_ref">hours</p></li>
					<li> <span class="minutes">00</span><p class="minutes_ref">minutes</p></li>
					<li> <span class="seconds">00</span><p class="seconds_ref">seconds</p></li>
				</ul>
			</div><!-- Timer -->
			<div class="fancy-social">
				<span><a href="/register">Request an invite</a></span>
				<a href="https://facebook.com/contactrocket" title=""><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/contactrocket" title=""><i class="fa fa-twitter"></i></a>
        <a href="https://velodigital.com" title=""><i class="fa fa-globe"></i></a>

      </div><!-- Fancy Social -->

		</div>
	</div><!-- Comming Soon -->


	<script type="text/javascript">
		jQuery(document).ready(function() {
		"use strict";
	        $('.countdown').downCount({
	            date: '7/1/2016 12:00:00',
	            offset: +10
	        });
        });
	</script>
