<style>
  td {
    color:black;
  }
  tr {
    color:black;
  }
  thead {
    color:black;
  }
  label {
    color:black;
  }

</style>
<%= render 'layouts/guestbar' %>
<div class="main-content wide-content">

  <div class="panel-content">
    <div class="row" style="text-align: center;padding:100px">
      <h1><i class="fa fa-frown-o"></i></h1>
      <h2>You have been successfully removed from our mailing list!</h2>
    </div>
  </div><!-- Panel Content -->

</div><!-- Main Content -->
<%= render :partial => 'layouts/footer' %>


