<style>
  td {
    color:black;
  }
  tr {
    color:black;
  }
  thead {
    color:black;
  }
  label {
    color:black;
  }

</style>
<%= render 'layouts/topbar' %>
<header class="side-header light-skin">
  <%= render 'layouts/navigation' %>
</header>
<div class="main-content">
  <div class="panel-content">
    <div class="price-sec">
      <div class="row">
        <div class="col-md-4">
          <ul class="price-table">
            <li class="price-title"><i class="fa fa-area-chart"></i>    Select </li>
            <li class="price-rate"><h3><span>$</span>50<i>/month</i></h3></li>
            <li class="price-description">Perfect for start-ups</li>
            <li class="price-features"><i class="fa fa-user"></i> Single User </li>
            <li class="price-features"><i class="fa fa-hdd-o"></i> 500 Contacts</li>
            <li class="price-features"><i class="fa fa-crosshairs"></i> 100 Targets</li>
            <li class="price-signup"><a href="mailto:sales@your-server.net" title=""> Contact Us </a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="price-table silver">
            <li class="price-title"><i class="fa fa-anchor"></i> Advantage </li>
            <li class="price-rate"><h3><span>$</span>200<i>/month</i></h3></li>
            <li class="price-description"> Most popular plan </li>
            <li class="price-features"><i class="fa fa-group"></i> 10 Users </li>
            <li class="price-features"><i class="fa fa-hdd-o"></i> 5000 Contacts</li>
            <li class="price-features"><i class="fa fa-crosshairs"></i> 1000 Targets</li>
            <li class="price-signup"><a href="mailto:sales@your-server.net" title=""> Contact Us </a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="price-table gold">
            <li class="price-title"><i class="fa fa-star"></i> Enterprise </li>
            <li class="price-rate"><h3><span>$</span>700<i>/month</i></h3></li>
            <li class="price-description">The big guns</li>
            <li class="price-features"><i class="fa fa-group"></i> 100 Users </li>
            <li class="price-features"><i class="fa fa-hdd-o"></i> Unlimited Contacts</li>
            <li class="price-features"><i class="fa fa-crosshairs"></i> Unlimited Targets</li>
            <li class="price-signup"><a href="mailto:sales@your-server.net" title=""> Contact Us </a></li>
          </ul>
        </div>
      </div>
    </div><!-- gallery Section -->
  </div><!-- Panel Content -->

</div><!-- Main Content -->


