<% @page_title = "About" %>

<div class="page-header">
  <h2>Resources</h2>
</div>

<div id="listContainer">
  <ul>
    <li>
      <a href="http://www.your-server.net" target="_blank">
        www.your-server.net
      </a>
    </li>
    <li>
      <a href="http://www.your-server.net" target="_blank">
        www.your-server.net
      </a>
    </li>
    <li>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-xs-3">
    <div class="thumbnail">
      <div class="caption text-center">
        <p class="lead">peteralcock</p>
        <p><a href="https://twitter.com/peteralcock" class="btn btn-default" role="button" target="_blank">Follow</a>
      </div>
    </div>
  </div>
</div>
